<% compound_in = label.compound_in %>
<div class="relation panel">
  <h2><%= t('txt.views.compound_in') %></h2>
  <div class="relation-body">
    <ul>
      <% if compound_in.any? %>
        <% compound_in.each do |label| %>
          <li><%= link_to(label.value, label_path(:id => label)) %></span></li>
        <% end %>
      <% else %>
        <li><%= t('txt.views.labels.no_compound_forms') %></li>
      <% end %>
    </ul>
  </div>
</div>
