<% compound_in = label.compound_in %>
<% if compound_in.any? %>
  <ol>
    <% compound_in.each do |label| %>
      <li><%= link_to(label.value, label_path(:id => label)) %></li>
    <% end %>
  </ol>
<% end %>
