<div class="relation panel">
  <h2><%= t("txt.views.labels.compound_in") %></h2>
  <div class="relation-body">
    <%= raw label.compound_in.map { |label|
            link_to(label.value, label_path(:id => label))
        }.join(', ') %>
  </div>
</div>
