<% compound_in = label.compound_in %>
<ol>
  <% if compound_in.any? %>
    <% compound_in.each do |label| %>
      <li><%= link_to(label.value, label_path(:id => label)) %></li>
    <% end %>
  <% else %>
    <li><%= t('txt.views.labels.no_compound_forms') %></li>
  <% end %>
</ol>
