<div class="relation panel">
  <h2><%= t("txt.views.labels.compound_from") %></h2>
  <div class="relation-body">
    <% compound_form_bases = label.compound_form_bases %>
    <% if compound_form_bases.any? %>
      <ol>
        <% compound_form_bases.each do |cfb| %>
          <li>
            <%= raw cfb.compound_form_contents.label_published.map { |cfc|
              link_to(cfc.label.value, label_path(:id => cfc.label))
            }.join(', ') %>
        </li>
      <% end %>
      </ol>
    <% end %>
  </div>
</div>
