<li class="compound-form">
  <%= label_tag "inline_compound_form_origins",
          CompoundForm::Base.model_name.human %>
  <%- items = Iqvoc::XLLabel.base_class.editor_selectable.
          by_origin(compound_form.compound_form_contents.
              map { |cfc| cfc.label.origin }) -%>
  <%= text_field_tag "label[inline_compound_form_origins][]",
          items.join(Iqvoc::InlineDataHelper::Joiner),
          :class => "entity_select",
          :"data-query-url" => labels_path(:format => :json),
          :"data-entity-uri" => label_path("{id}"),
          :"data-entities" => (not compound_form) ? nil : items.
              map { |l| label_widget_data(l) }.to_json %>

  <input type="button" class="add-compound-form" value="<%= t("txt.common.add_note") %>">
  <input type="button" class="rm-compound-form" value="<%= t("txt.common.delete") %>">
</li>
