<div class="compound-form">
  <% items = Iqvoc::XLLabel.base_class.editor_selectable.
          by_origin(compound_form.compound_form_contents.
              map { |cfc| cfc.label.origin }).load %>
  <% fieldname = "label[inline_compound_form_origins][]" %>
  <%= f.form_group nil, :label => { :text => t('txt.views.labels.compound_from') } do %>
    <%= text_field_tag fieldname, items.map(&:origin).join(InlineDataHelper::JOINER),
          :class => "entity_select",
          :"data-query-url" => labels_path(:format => :json),
          :"data-entity-uri" => label_path("{id}"),
          :"data-entities" => (not compound_form) ? nil : items.
              map { |l| label_widget_data(l) }.to_json %>

              <input type="button" class="btn btn-outline-secondary add-compound-form" value="<%= t("txt.common.add_note") %>">
              <input type="button" class="btn btn-outline-secondary rm-compound-form" value="<%= t("txt.common.delete") %>">
  <% end %>
</div>
